<div class="text-center">
  <img src="{{ about.picture_of_you|imageCrop(140,140) }}" class="img-circle" />
  <h2>{{ about.name }}</h2>
  <p class="lead">{{ about.one_liner_bio }}</p>

  <a class="twitter-timeline" href="https://twitter.com/{{ about.twitter_username }}" data-widget-id="443900138314936320" data-screen-name="{{ about.twitter_username }}">Tweets by @{{ about.twitter_username }}</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



</div>

