{# INDIVIDUAL VIEW FOR EACH articles #}
{# You can find a full list of variables to use on this page in your CMS. #}

{% extends "templates/partials/base.html" %}

{% block content %}
  <img src="{{ item.key_image }}" class="img-responsive"/>

  <h1>{{ item.name }}</h1>

  <p class="lead">
    {{ item.short_version }}
  </p>
  <p>
    <em>Written by {{ item.author.first }} {{ item.author.last }} on {{ item.publish_date }}</em>
  </p>

  <hr/>

  {{ item.body|safe }}

  {# List all images from this gallery. #}
  <ul>
    {% for image in item.optional_gallery %}
      <li>
        <img src="{{ image.url|imageSize(200,200) }}">
        <div>{{ image.caption }}</div>
      </li>
    {% endfor%}
  </ul>



{% endblock %}
