{# LIST VIEW OF ALL articles #}
{# You can find a full list of variables to use on this page in your CMS. #}

{% extends "templates/partials/base.html" %}

{% block content %}

  {# Copy this to any page you want articles data on. #}
  {% set data = get('articles') %}

  {# Sort by most recently published.#}
  {% set data = data|sort("publish_date", true)%}

  {# This is how you set pagination. #}
  {% set data = paginate(data, 5) %}

  <h2>Articles</h2>
  <hr/>
  {# Scaffolding only outputs the object.name, but feel to use any of the fields from your CMS form here. #}
  <div class="media">
    {% for object in data %}
        <a href="{{ url(object) }}" class="pull-left">
          <img class="media-object" src="{{ object.image|imageCrop(100,100) }}">
        </a>
        <div class="media-body">
          <a href="{{ url(object) }}">
            <h2 class="media-heading">{{ object.name }}</h2>
          </a>
          <p class="lead">{{ object.short_version }}</p>
          <p>
            <em>Written by {{ object.author.first }} {{ object.author.last }} on {{ object.publish_date }}</em>
          </p>
        </div>
        <hr/>
    {% endfor %}
  </div>
  {# The actual pagination template, feel free to edit or replace the default one. #}
  {% include "templates/partials/paginator.html" %}

{% endblock %}
