{# YOUR HOMEPAGE #}

{# First time seeing extend or blocks? Want to know how it works? Tutorial here: http://www.webhook.com #}
{% extends "templates/partials/base.html" %}

{% block content %}

  {# Copy this to any page you want articles data on. #}
  {% set data = get('articles') %}

  {# This is how you set pagination. #}
  {% set data = paginate(data, 5) %}

  <h2>Articles</h2>
  {# Scaffolding only outputs the object.name, but feel to use any of the fields from your CMS form here. #}
  <div class="media">
    {% for id, object in data %}
        <a href="{{ url(object) }}" class="pull-left">
          <img class="media-object" src="{{ object.key_image|imageCrop(64,64) }}">
        </a>
        <div class="media-body">
          <a href="{{ url(object) }}">
            <h4 class="media-heading">{{ object.name }}</h4>
          </a>
          <p>{{ object.short_version }}</p>
        </div>
    {% endfor %}
  </div>
  {# The actual pagination template, feel free to edit or replace the default one. #}
  {% include "templates/partials/paginator.html" %}

{% endblock %}
