{# YOUR HOMEPAGE #}

{# First time seeing extend or blocks? Want to know how it works? Tutorial here: http://www.webhook.com #}
{% extends "templates/partials/base.html" %}

{% block content %}

  {# Copy this to any page you want articles data on. #}
  {% set data = get('articles') %}

  {# This is how you set pagination. #}
  {% set data = paginate(data, 5) %}

  {% if data.length %}

    {# Output articles sorted by most recent publish date #}
    {% for object in data|sort("publish_date", true) %}
      <a href="{{ url(object) }}">
        <img src="{{ object.image.url }}" class="img-responsive"/>
        <h2>{{ object.name }}</h2>
      </a>

      <p class="lead">
        {{ object.short_version }}
      </p>
      <p>
        <em>Written by {{ object.author.first }} {{ object.author.last }} on {{ object.publish_date|date('F d Y') }}</em>
      </p>

      <hr/>

      {{ item.body|safe }}

    {% endfor %}
    {# The actual pagination template, feel free to edit or replace the default one. #}
    {% include "templates/partials/paginator.html" %}
  {% else %}
    <h2>Nothing to see here</h2>
    <a href="/cms/">Duder, go add some articles to the CMS</a>
  {% endif %}

{% endblock %}
